<article class="content dashboard-page">
    <section class="section">
        <div class="row sameheight-container">
            <div class="col col-12 col-sm-12 col-md-6 col-xl-6 stats-col">
                <div class="card stats" data-exclude="xs">
                    <div class="card-block">
                        <div class="title-block">
                            <h4 class="title"> Stats </h4>
                            <p class="title-description"> Business metrics for Current Month 
                            </p>
                        </div>
                        <div class="row row-sm stats-container">
                            <div class="col-12 col-sm-6 stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-cart-arrow-down"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> 5407 </div>
                                    <div class="name"> Item Stock </div>
                                </div>
                                <div class="progress stat-progress">
                                    <div class="progress-bar" style="width: 75%;"></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-mail-forward"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> 3240 </div>
                                    <div class="name"> Outward Flow</div>
                                </div>
                                <div class="progress stat-progress">
                                    <div class="progress-bar" style="width: 25%;"></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6  stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-mail-reply"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> 1500 </div>
                                    <div class="name">  Inward Flow</div>
                                </div>
                                <div class="progress stat-progress">
                                    <div class="progress-bar" style="width: 60%;"></div>
                                </div>
                            </div>
                            
                            <div class="col-12 col-sm-6  stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-list-alt"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> 25000 </div>
                                    <div class="name"> Total Items</div>
                                </div>
                                <div class="progress stat-progress">
                                    <div class="progress-bar" style="width: 49%;"></div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-6 stat-col">
                                <div class="stat-icon">
                                    <i class="fa fa-group"></i>
                                </div>
                                <div class="stat">
                                    <div class="value"> 15 </div>
                                    <div class="name"> Resource Count </div>
                                </div>
                                <div class="progress stat-progress">
                                    <div class="progress-bar" style="width: 15%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       

            <div class="col-md-2">

                <div class="card card-primary">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> Weekly Sales </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <h1>₹ 15,0000</h1>
                    </div>
                    <div class="card-footer"> Increased by 10%</div>
                </div>

            </div>

            <div class="col-md-2">

                <div class="card card-primary">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> Weekly Orders </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <h1>5,000</h1>
                    </div>
                    <div class="card-footer"> Decreased by 1.5%</div>
                </div>
            </div>

            <div class="col-md-2">

                <div class="card card-primary">
                    <div class="card-header">
                        <div class="header-block">
                            <p class="title"> Total Visits </p>
                        </div>
                    </div>
                    <div class="card-block">
                        <h1>1345</h1>
                    </div>
                    <div class="card-footer"> Increased by 6%</div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Bar Chart Example </h3>
                        </div>
                        <section class="example">
                            <div class="flot-chart"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="BarChart" style="display: block; height: 275px; width: 550px;" width="687" height="343"></canvas>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-block">
                        <div class="card-title-block">
                            <h3 class="title"> Line Chart Example </h3>
                        </div>
                        <section class="example">
                            <div class="flot-chart"><iframe class="chartjs-hidden-iframe" tabindex="-1" style="display: block; overflow: hidden; border: 0px; margin: 0px; inset: 0px; height: 100%; width: 100%; position: absolute; pointer-events: none; z-index: -1;"></iframe>
                                <canvas id="LineChart" width="687" height="343" style="display: block; height: 275px; width: 550px;"></canvas>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</article>